<div class="center">
  {% if page.previous %}
  <span class="paginationicon left">
    <a href="{{ page.previous.url }}"><i class="fa fa-chevron-circle-left"></i></a>
  </span>
  {% endif %}

  {% if page.collection == "posts" %}
  <span class="paginationicon right">
    <a href="{{  './' | absolute_url }}"><i class="fa fa-chevron-circle-up"></i></a>
  </span>
  {% else %}
  <span class="paginationicon center">
    <a href="{{ page.collection | absolute_url }}"><i class="fa fa-chevron-circle-up"></i></a>
  </span>
  {% endif %}

  {% if page.next %}
  <span class="paginationicon right">
    <a href="{{ page.next.url }}"><i class="fa fa-chevron-circle-right"></i></a>
  </span>
  {% endif %}

</div>